@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden

.img-responsive
  display: block
  max-width: 100%
  height: auto

.left
  text-align: left

.center
  text-align: center

.right
  text-align: right

ul 
  list-style: none
  margin: 0
  padding: 0

a:hover
  text-decoration: none
  cursor: pointer

section
  h1
    color: #ffffff
    font-family: $black-font
    font-size: 40px
    font-weight: 700
    line-height: 60px
    text-transform: uppercase
    margin-bottom: 0
    &.title-section
      color: #232323
      text-align: center
      font-size: 18px
      text-transform: uppercase

  p
    color: #cccccc
    font-size: 17px
    font-weight: 400
    line-height: 28px
    padding: 35px 0

a.btn
  background-color: #222
  border: 2px solid #e31d3b
  border-radius: 25px
  color: #ffffff
  font-family: $heavy-font
  font-size: 11px
  font-weight: 700
  line-height: 24px
  padding: 15px 45px
  text-transform: uppercase
  &:hover
    background-color: #e31d3b
    border: 2px solid transparent
   

// About block

.about
  color: #fff
  .container
    background-color: #222
    .about__block
      margin: 50px 0

// Our services

.our__services
  .container
    background-color: #f0f0f0
    .our__services__description
      margin: 50px
      h1, p
        color: #222
      a.btn
        color: #fff
        background-color: rgb(227, 29, 59)
        &:hover
          color: #222
          background-color: transparent
          border: 2px solid rgb(227, 29, 59)
    .services__wrap
      display: flex
      flex-wrap: wrap
      list-style: none
      margin: 0
      padding: 0
      .item__services
        display: flex
        padding: 1rem
        @media(min-width: 40rem)
          width: 50%
        @media(min-width: 56rem)
          width: 25%
        .card
          background-color: white
          border-radius: 0.25rem
          box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25)
          display: flex
          flex-direction: column
          overflow: hidden
          min-width: 25%
          img
            max-width: 100%
            height: auto
          h3
            font-size: 14px
            font-family: "latoheavy", sans-serif
            margin: 5px 0 0 0
            padding: 10px 10px 0 10px
            line-height: 1.5
            text-transform: uppercase
          p
            font-family: "latolight", sans-serif
            font-size: 14px
            line-height: 1.4
            padding: 1rem
            margin-top: 0
            color: #999
          &:hover
            .card__image
              opacity: .8


// Featured products
.featured__products
  margin: 50px 0
  .featured__products_item a
    margin-bottom: 15px
    img
      height: auto
      max-width: 100%
    .category-product
      color: #999999
      font-size: 12px
      font-weight: 400
      line-height: 24px
      padding-top: 15px
      padding-bottom: 5px
    .title-product
      color: #232323
      font-size: 17px
      font-weight: 400
      line-height: 22px
      padding-bottom: 10px
    .prices
      font-size: 16px
      font-weight: 400
      line-height: 24px
      padding-bottom: 20px
      span.price
        color: #be926f
      span.old_price
        color: #999999
        text-decoration: line-through
     

// Footer

footer.footer
  padding: 35px 0
  color: #666666
  .footer__top
    padding: 50px 0
    .footer__top_item
      img
        height: 64px
        width: 64px
      h5
        color: #000000
        font-family: $black-font
        font-size: 20px
        margin-top: 20px
        margin-bottom: 30px
        padding: 0
      .item_descr
        span.phone
          color: #232323
          font-family: $black-font
          font-size: 24px
          font-weight: 400
          line-height: 34px
        span.address
          color: #666666
          font-size: 14px
          font-weight: 400
          line-height: 30px
        span.link
          a
            color: #e31d3b
            font-size: 14px
            font-weight: 400
            line-height: 30px
  .footer__bottom
    border-top: 1px solid #e6e6e6 
    border-bottom: 1px solid #e6e6e6
    padding: 30px 0
    font-size: 13px
    font-weight: 400
    line-height: 24px
    color: #999999
    ul.list_link li 
      display: inline-block
      padding-right: 25px
      &:last-child
        padding-right: 0
      a
        color: #e31d3b
        img
          width: 24px
    ul.list_social_link li
      display: inline-block
      padding-right: 10px
      &:last-child
        padding-right: 0
      a
        &:hover
          opacity: .7
        img
          width: 24px

@import "media" // Всегда в конце
