@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  color: #666666
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  -webkit-text-size-adjust: 100%
  -webkit-overflow-scrolling: touch
  -webkit-font-smoothing: antialiased !important

.img-responsive
  display: block
  max-width: 100%
  height: auto

.left
  text-align: left

.center
  text-align: center

.right
  text-align: right

ul 
  list-style: none
  margin: 0
  padding: 0

a:hover
  text-decoration: none
  cursor: pointer

h1, h2, h3, h4, h5, h6
  font-family: $black-font
  font-weight: 400
  color: #202020

h3
  font-size: 20px
  line-height: 25px

section
  p.sub-title
    margin: 0
    line-height: 25px
    color: #666666

.section-padding
  padding: 75px 0

.section-title
  font-family: $heavy-font
  font-size: 35px
  line-height: 30px
  color: #ff2a40
  margin-bottom: 25px
  text-transform: capitalize

p
  font-weight: 400
  line-height: 28px
  padding: 35px 0

a.btn
  background-color: #222
  border: 2px solid #e31d3b
  border-radius: 25px
  color: #ffffff
  font-family: $heavy-font
  font-size: 11px
  font-weight: 700
  line-height: 24px
  padding: 15px 45px
  text-transform: uppercase
  -webkit-transition: all .2s
  -moz-transition: all .2s
  transition: all .2s
  &:hover
    background-color: #e31d3b
    border: 2px solid transparent

.img-responsive
  display: block
  max-width: 100%
  height: auto   

.sbox-gutter
  border-right: 1px solid #dedede
  border-bottom: 1px solid #dedede

.sbox-gutter, 
.sbox-gutter i::before, 
.sbox-gutter h3, 
.sbox-gutter p
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  -ms-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out

.sbox-gutter:nth-child(3), 
.sbox-gutter:nth-child(6),
.sbox-gutter:nth-child(9)
  border-right: 0

.sbox-gutter:nth-child(7), 
.sbox-gutter:nth-child(8),
.sbox-gutter:nth-child(9)
  border-bottom: 0

// About block

#about
  color: #fff
  .container-fluid
    background-color: #2c3e50
    .about__block
      padding: 60px 110px 60px 40px
    .section-title
      color: #fff
    .btn
      background-color: transparent
      border-color: #fff
      &:hover
        background-color: #fff
        color: #2c3e50   

// Our services

#services
  .row-content
    margin-top: 80px
    .service-box
      padding: 30px 15px
      h3
        color: #999
        font-weight: 700
        text-transform: capitalize
        margin-bottom: 20px
        height: 60px
      p
        line-height: 22px
        margin: 0 0 10px
        padding: 0
        min-height: 140px


// Projects home

section.portfolio-section
  .container-fluid
    background-color: #222
  .portfolio-container
    margin-top: 20px
    .controls
      button
        border: 2px solid #ff2a40
        background-color: transparent
        color: #ff2a40
        letter-spacing: 2px
        font-size: .75em
        background-color: transparent
        padding: 10px 22px
        border-radius: 20px
        transition: all 0.4s ease
        &:hover
          background-color: #ff2a40
          border-color: #ff2a40
          color: #fff
      .mixitup-control-active
        outline: 0
    #portfolio-grid
      margin-top: 50px
      min-height: 400px
      .mix
        width: 20%
      .portfolio-item
        float: left
        position: relative
        top: 0
        left: 0
        overflow: hidden
        margin-bottom: 0
        .portfolio
          position: relative
          margin: 0
          img
            width: 100%
          .portfolio-info
            background-color: rgba(255, 42, 64, 0.9)
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: -1px
            text-align: center
            z-index: 10
            opacity: 0
            border: 1px solid transparent
            -webkit-backface-visibility: hidden
            -ms-backface-visibility: hidden
            -o-backface-visibility: hidden
            backface-visibility: hidden
            -webkit-transition: all .3s
            transition: all .3s
            &:hover
              opacity: 1
            h3
              color: #fff
              padding-top: 40px
              font-size: 20px
              line-height: 25px
            .links
              .btn
                background-color: transparent
                border-color: #fff
                padding: 12px 22px
                border-radius: 20px
                transition: all 0.4s ease
                &:hover
                  background-color: #fff
                  border-color: #fff
                  color: #ff2a40
    .view-more
      margin-top: 40px
      display: inline-block
      background-color: #34495e
      border-color: #34495e
      border: 1px solid transparent
      border-radius: 4px
      text-decoration: none
      &:hover
        background-color: #ff2a40 
        border-color: #ff2a40
      
// Featured products
#featured-products
  margin: 50px 0
  .featured__products_item a
    margin-bottom: 15px
    img
      height: auto
      max-width: 100%
    .category-product
      color: #999999
      font-size: 12px
      font-weight: 400
      line-height: 24px
      padding-top: 15px
      padding-bottom: 5px
    .title-product
      color: #232323
      font-size: 17px
      font-weight: 400
      line-height: 22px
      padding-bottom: 10px
    .prices
      font-size: 16px
      font-family: $black-font
      font-weight: 400
      line-height: 24px
      padding-bottom: 20px
      span.price
        color: #e31d3b
      span.old_price
        margin-left: 10px
        color: #999999
        text-decoration: line-through

// Footer

footer.footer
  padding: 35px 0 0 0
  color: #666666
  background-color: #f0f0f0
  .footer__top
    padding: 50px 0
    .footer__top_item
      img
        height: 64px
        width: 64px
      h5
        color: #7E868F
        font-family: $black-font
        font-size: 20px
        margin: 10px 0
        padding: 0
      .item_descr
        span.phone
          color: #666
          font-family: $black-font
          font-size: 24px
          font-weight: 400
          line-height: 34px
        span.address
          color: #666666
          font-size: 14px
          font-weight: 400
          line-height: 30px
        span.link
          a
            color: #666
            font-size: 14px
            font-weight: 400
            line-height: 30px
            &:hover
              color: #e31d3b
  .footer__bottom
    border-top: 1px solid #e6e6e6 
    border-bottom: 1px solid #e6e6e6
    padding: 30px 0
    font-size: 13px
    font-weight: 400
    line-height: 24px
    color: #666
    ul.list_link li 
      display: inline-block
      padding-right: 25px
      &:last-child
        padding-right: 0
      a
        color: #666
        &:hover
          color: #e31d3b
        img
          width: 24px
    ul.list_social_link li
      display: inline-block
      padding-right: 10px
      &:last-child
        padding-right: 0
      a
        &:hover
          opacity: .7
        img
          width: 24px

@import "media" // Всегда в конце
